<p-fieldset [toggleable]="true">
    <p-header>Project Properties</p-header>
    <div class="p-grid">
        <div class="p-col-12 p-md-6 p-lg-9">
            <p-card [style]="{'height':'100%'}">
                <div class="p-col-3">
                    <milestone-select [project]="project" displayName="Vacation Start" msName="VACATION_START"></milestone-select>
                    <milestone-select [project]="project" displayName="Vacation End" msName="VACATION_END"></milestone-select>
                </div>
            </p-card>
        </div>
        <div class="p-col-12 p-md-6 p-lg-3">
            <p-card [style]="{'height':'100%'}">
                <role-select formName="selectApprover" type="user" displayName="Vacation Approver" [project]="project" [onlyInherited]="false" roleName="vacation-approver"></role-select>
                <!-- <role-select formName="selectSubstitute" type="user" displayName="Substitute" [project]="project" [grouping]="true" roleName="vacation-requestor"></role-select> --> 
                <role-select formName="selectSubstitute" type="group" displayName="Substitute" [project]="project" roleName="vacation-requestor"></role-select>
            </p-card>
        </div>
    </div>
</p-fieldset>
