*.log
.idea
.vscode
/backend/pmc-oak/nbactions.xml
/target/
/backend/alanda-development/target/
/backend/alanda-development/src/test/resources/docker-elastic6/mount_data_node1/nodes/
/backend/alanda-base/nbactions.xml
/backend/alanda-comment-plugin/target/
/backend/alanda-background/nb-configuration.xml
/backend/alanda-development/src/test/resources/docker-camunda/image/src_modules/io/alanda/alanda-comment-plugin/main/alanda-comment-plugin-0.0.1-SNAPSHOT.jar
/backend/alanda-development/src/test/resources/docker-camunda/image/src_modules/io/alanda/alanda-identity-plugin/main/alanda-identity-plugin-0.0.1-SNAPSHOT.jar
/backend/alanda-development/src/test/resources/docker-camunda/image/src_modules/io/alanda/camunda/es/history/main/alanda-camunda-es-history-plugin-0.0.1-SNAPSHOT.jar
