.project
.classpath
.settings
.project
.idea
*.iml
alanda-development/src/test/resources/docker-oracle
target
alanda-development/src/test/resources/docker-camunda/image/src_modules/io/alanda/alanda-comment-plugin/main/*.jar
alanda-development/src/test/resources/docker-camunda/image/src_modules/io/alanda/camunda/es/history/main/*.jar
