<p>
  permissions-demo works!
</p>
<ng-container *ngIf="user$ | async as user">
  {{ user.firstName }} {{ user.surname }}
  <form (ngSubmit)="onSubmit()" [formGroup]="demoForm">
    <fieldset
      class="set-a"
      alandaPermissions="ms:write:MS_NAME"
      [alandaUser]="user"
    >
      <div class="inputField">
        <span class="ui-float-label">
          <input
            id="input-guid"
            type="text"
            pInputText
            formControlName="guid"
          />
          <label for="input-guid">GUID</label>
        </span>
      </div>
      <div class="inputField">
        <span class="ui-float-label">
          <input
            id="input-projectName"
            type="text"
            pInputText
            formControlName="projectName"
          />
          <label for="input-guid">projectName</label>
        </span>
      </div>
    </fieldset>
    <fieldset class="set-b">
      <div class="inputField">
        <span class="ui-float-label">
          <input
            id="input-title"
            type="text"
            pInputText
            formControlName="title"
          />
          <label for="input-title">title</label>
        </span>
      </div>
      <div
        class="inputField"
        alandaPermissions="ms:write:MS_NAME"
        [alandaUser]="user"
      >
        <span class="ui-float-label">
          <input
            id="input-status"
            type="text"
            pInputText
            formControlName="status"
          />
          <label for="input-status">status</label>
        </span>
      </div>
      <div class="inputField">
        <span class="ui-float-label">
          <input
            alandaPermissions="mts:write:MS_NAME"
            [alandaUser]="user"
            id="input-phases"
            type="text"
            pInputText
            formControlName="phases"
            [disabled]
          />
          <label for="input-phases">phases</label>
        </span>
      </div>
      <div class="inputField">
        <span class="ui-float-label">
          <input
            id="input-running"
            type="text"
            pInputText
            formControlName="running"
          />
          <label for="input-running">running</label>
        </span>
      </div>
    </fieldset>

    <button alandaPermissions="ms:write" [alandaUser]="user">
      Save
    </button>
    <div alandaPermissions="ms:write" [alandaUser]="user">
      <p-calendar
        formControlName="fc"
        placeholder="Select FC"
        [showIcon]="true"
      ></p-calendar>
    </div>
  </form>
</ng-container>
