// Main colors

$primary-red: #f00;
$primary-green: #0f0;
$primary-blue: #00f;

$black: #000;
$black-3: #333;
$white: #fff;

$lighter-blue: lighten($primary-blue, 15%);
$lighter-green: lighten($primary-green, 15%);

$blue-20: #c3def8;

$container-background: $white;
$font-color: $black-3;
