/* You can add global styles to this file, and also import other style files */
@import '../projects/alanda-common/src/styles/variables';
@import '../projects/alanda-common/src/styles/main';

body {
  color: $font-color;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  background: $container-background;
}

.ui-widget,
.ui-widget .ui-widget {
  font-size: 12px;
}

.form-root-tabs.ui-tabview .ui-tabview-panels {
  /* background-color: #f4f4f4; */
}
