/* You can add global styles to this file, and also import other style files */
@import '../../../libs/common/src/styles/variables';
@import '../../../libs/common/src/styles';

html {
  // This sets the font size for all components in the project
  // You can use px or % (Desktop: 100% = 16px)
  font-size: 87.4999%;
}

body {
  color: $font-color;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.p-panel,
.p-card {
  margin-bottom: 1.25em;
}

*:focus,
.p-focus {
  outline: none !important;
  box-shadow: none !important;
}
