/* You can add global styles to this file, and also import other style files */
@import '../../../libs/common/src/styles/variables';
@import '../../../libs/common/src/styles';
@import '~primeng/resources/themes/saga-blue/theme.css';

body {
  color: $font-color;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  overflow-x: hidden;
}

.p-panel {
  margin-bottom: 1.25em;
}
