<style>
    ::ng-deep .ui-panel {
        margin-bottom: 20px !important;
    }
    ::ng-deep .hideheader .ui-tabview-panels {
      padding: 0em !important;
      border: none !important;
    }
</style>
<ng-container *ngIf="state$ | async as taskFormState">
  <div *ngIf="taskFormState.project"> <!-- hack until project header is properly refactored -->
  <alanda-project-header [task]="taskFormState.task" [project]="taskFormState.project"></alanda-project-header>
  <alanda-project-and-processes [task]="taskFormState.task" [project]="taskFormState.project"></alanda-project-and-processes>

  <alanda-comments [task]="taskFormState.task"></alanda-comments>
  <div class="p-grid">
      <div class="p-col-10">
          <alanda-simple-select [task]="taskFormState.task" [items]="items" variableName="requestApproved" label="Approve vacation request?"></alanda-simple-select>
      </div>
      <div class="p-col-2">
          <p-card [style]="{'height': '100%'}">
              <button pButton type="button" (click)="submit()" icon="fa fa-check" iconPos="left" class="ui-button-success" label="Complete Task"></button>
          </p-card>
      </div>
    </div>
  </div>
</ng-container>

<!-- <p-tabView [activeIndex]="activeTab" styleClass="hideheader">
  <p-tabPanel header="Project Overview" leftIcon="fa fa-file-text">
      <ng-template task-forms pTemplate="content"></ng-template>
  </p-tabPanel>
  <p-tabPanel header="PIO" leftIcon="fa fa-eye">
      <ng-template pTemplate="content">
          <pio-component [pid]="task.process_instance_id" [task]="task"></pio-component>
      </ng-template>
  </p-tabPanel>
  <p-tabPanel header="History Log" leftIcon="fa fa-history">
      <ng-template pTemplate="content">
          <history-grid-component [projectGuid]="task.pmcProjectGuid"></history-grid-component>
      </ng-template>
  </p-tabPanel>
</p-tabView> -->
