<ng-container *ngIf="state$ | async as taskFormState">
  <div *ngIf="taskFormState.project">
    <form [formGroup]="rootForm" (submit)="submit()">
      <alanda-project-header [task]="taskFormState.task" [project]="taskFormState.project"></alanda-project-header>
      <alanda-comments [task]="taskFormState.task"></alanda-comments>
      <p-card styleClass="submitTask">
          <button pButton type="button" (click)="submit()" icon="fa fa-check" iconPos="left" class="ui-button-success" label="Complete Task"></button>
      </p-card>
    </form>
  </div>
</ng-container>


