<ng-container *ngIf="state$ | async as s">
  <div class="loading" *ngIf="s.loading > 0">
    <p-progressSpinner
      [style]="{ width: '50px', height: '50px' }"
      strokeWidth="8"
      fill="#EEEEEE"
      animationDuration=".5s"
    ></p-progressSpinner>
  </div>
  <alanda-page-header
    [project]="s.project"
    [task]="s.task"
    [user]="s.user"
    [tabs]="s.tabs"
    [activeTabIndex]="activeTab"
    (activeTabIndexChange)="activeTab = $event"
  >
    <ng-container [ngSwitch]="activeTab">
      <div *ngSwitchCase="'0'">
        <alanda-project-overview
          [task]="s.task"
          [project]="s.project"
          [user]="s.user"
          [rootFormGroup]="rootForm"
        >
        </alanda-project-overview>
      </div>
      <div *ngSwitchCase="'1'">
        <alanda-pio-component
          [pid]="s.task.process_instance_id"
          [user]="s.user"
        ></alanda-pio-component>
      </div>
      <div *ngSwitchCase="'2'">
        <alanda-history-grid-component
          *ngIf="s.project"
          [projectGuid]="s.project.guid"
        ></alanda-history-grid-component>
      </div>
      <div *ngSwitchCase="'3'">
        3
      </div>
      <div *ngSwitchCase="'4'">
        4
      </div>
      <div *ngSwitchCase="'5'">
        5
      </div>
      <div *ngSwitchCase="'6'">
        6
      </div>
      <div *ngSwitchCase="'7'">
        7
      </div>
      <div *ngSwitchCase="'8'">
        8
      </div>
      <div *ngSwitchCase="'9'">
        9
      </div>
      <div *ngSwitchCase="'10'">
        10
      </div>
    </ng-container>
  </alanda-page-header>

  <router-outlet></router-outlet>

  <div class="p-grid p-justify-end">
    <div class="p-col-2">
      <div *ngIf="rootForm.touched && rootForm.errors">
        <div *ngFor="let error of rootForm.errors | keyvalue">
          <p-message
            *ngIf="error.value.text !== undefined"
            severity="error"
            text="{{ error.value.text }}"
          ></p-message>
        </div>
      </div>
    </div>
  </div>
</ng-container>
