Dear Sir or Madam,

the site acceptance survey for site $siteName has been scheduled.

The site acceptance coordinator in charge is:

$bauabkooFirstName $bauabkooLastName
#if($bauabkooMobile)
mobile: $bauabkooMobile
#end
#if($bauabkooEmail)
e-mail: $bauabkooEmail
#end

Sincerely,
Hutchison Drei Austria GmbH