<html>
Hello $FirstName $Surname,<br />
<br />
the process $CallActivityName for $linkOrSite $refObjectId has been closed. Please check the transmission project process and perform necessary actions.<br />
<br />
$url<br />
<br />
Greetings<br />
<br />
This is an automatic generated mail, please do not reply.<br />
</html>