<html>
Dear partner,<br/>
<br/>
the task "Build Link" was assigned to you!<br />
Please start to prepare the link installation for $linkIdName  at site $siteIdName and complete the task when finished.<br />
<br/>
Kind regards<br />
Hutchison Drei Austria
</html>