<html>
Dear $receivers!<br />
<br />
Cable $cableID was cancelled because costs are out of range. Please align further steps with the BBM Partner.<br />
<br />
With kind regards<br />
<br />
PMC Support Team<br />
<br />
This is an automatic generated mail, please do not reply.<br />
<html/>