<html>
Dear $FirstName $Surname,<br>
<br>
the performed LOS-check for site $siteId was approved positively and is now ready for invoicing. Please send the invoice to Hutchison Finance Department.
<br>
<br>
Kind regards<br>
Hutchison Drei Austria
</html>