<html>
Hello,

a new project has been created with the following details: <br />

$projectDetails <br />

For further details please login to PMC or follow this 
<a href="$link">link</a>
directly for project details. <br />
<br />


With kind regards<br />
<br />
PMC Support Team<br />
<br />
This is an automatic generated mail, please do not reply.<br />
<html/>