<html>
Dear partner,<br/>
<br/>
the performed LOS-check for site $siteIdName was approved positively and is now ready for invoicing.<br />
Please send the invoice to Hutchison Finance Department.<br/>
<br/>
Kind regards<br />
Hutchison Drei Austria
</html>