<html>

Hello,<br />
<br />
All docupacks from the project $parentProjectTitle are ready.<br />
"Build Link" tasks for the following links were assigned to you:<br />
<br />
$resultString<br />
<br />
Please start to prepare the link installation and complete the tasks when finished.<br />
<br />
Kind regards<br />
Hutchison Drei Austria<br />
</html>