<ng-container *ngIf="state.select() | async as s">
  {{ activeTab }}
  <alanda-page-header
    [project]="s.project"
    [activeTabIndex]="activeTab"
    [tabs]="s.tabs"
    [user]="s.user"
    (activeTabIndexChange)="activeTab = $event"
  >
    <ng-container [ngSwitch]="activeTab">
      <div *ngSwitchCase="'0'">
        <router-outlet></router-outlet>
      </div>
      <div *ngSwitchCase="'1'">
        <alanda-pio-component [pid]="s.pid"></alanda-pio-component>
      </div>
      <div *ngSwitchCase="'2'">
        <alanda-history-grid-component
          [projectGuid]="s.project.guid"
        ></alanda-history-grid-component>
      </div>
      <div *ngSwitchCase="'3'">
        3
      </div>
      <div *ngSwitchCase="'4'">
        4
      </div>
    </ng-container>
  </alanda-page-header>
</ng-container>
