<ng-container>
  <div class="p-grid">
    <div class="p-col-12 p-md-6 p-lg-9">
      <alanda-milestone-select
        [project]="project"
        displayName="Vacation Start"
        msName="VACATION_START"
        [user]="user"
        [actCommentRequired]="true"
      ></alanda-milestone-select>
      <alanda-milestone-select
        [project]="project"
        displayName="Vacation End"
        msName="VACATION_END"
        [user]="user"
      ></alanda-milestone-select>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
      <alanda-role-select
        formName="selectApprover"
        type="user"
        displayName="Vacation Approver"
        [project]="project"
        [onlyInherited]="false"
        roleName="vacation-approver"
        [user]="user"
      ></alanda-role-select>
      <alanda-role-select
        formName="selectSubstitute"
        type="group"
        displayName="Substitute"
        [project]="project"
        roleName="vacation-requestor"
        [user]="user"
      ></alanda-role-select>
    </div>
  </div>
</ng-container>
