<ng-container *ngIf="state$ | async as taskFormState">
  <p-fieldset [toggleable]="true">
    <p-header>Project Properties</p-header>
    <div class="p-grid">
      <div class="p-col-12 p-md-6 p-lg-9">
        <p-card [style]="{ height: '100%' }">
          <div class="p-col-12 p-lg-3">
            <alanda-milestone-select
              [project]="project"
              displayName="Vacation Start"
              msName="VACATION_START"
              [user]="user"
              [dateFormat]=""
            ></alanda-milestone-select>
            <alanda-milestone-select
              [project]="project"
              displayName="Vacation End"
              msName="VACATION_END"
              [user]="user"
            ></alanda-milestone-select>
          </div>
        </p-card>
      </div>
      <div class="p-col-12 p-md-6 p-lg-3">
        <p-card [style]="{ height: '100%' }">
          <alanda-role-select
            [rootFormGroup]="rootForm"
            formName="selectApprover"
            type="user"
            displayName="Vacation Approver"
            [project]="project"
            [onlyInherited]="false"
            roleName="vacation-approver"
            [user]="user"
          ></alanda-role-select>
          <alanda-role-select
            [rootFormGroup]="rootForm"
            formName="selectSubstitute"
            type="group"
            displayName="Substitute"
            [project]="project"
            roleName="vacation-requestor"
            [user]="user"
          ></alanda-role-select>
          <!-- <alanda-prop-autocomplete-eager
            [rootFormGroup]="rootForm"
            [user]="user"
            [project]="project"
            [options]="taskFormState.options"
            propertyName="role_vacation-approver"
            label="Prop"
          >
          </alanda-prop-autocomplete-eager> -->
          <!-- <alanda-prop-select
            [rootFormGroup]="rootForm"
            [user]="user"
            [project]="project"
            [items]="taskFormState.options"
            propertyName="role_vacation-approver"
            label="PropSel"
          ></alanda-prop-select> -->
          <!-- <alanda-prop-select
            [project]="project"
            [items]="taskFormState.options"
            label="ERP"
            propertyName="role_vacation-approver"
          >
          </alanda-prop-select> -->
        </p-card>
      </div>
    </div>
  </p-fieldset>
</ng-container>
