<alanda-phase-tab
  [project]="project"
  [simplePhases]="phases"
  [phase]="phase"
  [user]="user"
  (activePhaseChange)="phaseChange($event)"
>
  <ng-container [ngSwitch]="activePhase">
    <div *ngSwitchCase="'OVERVIEW'">
      <div class="p-grid">
        <div class="p-col-3">
          <div class="p-fluid p-grid">
            <div class="p-col-12 p-lg-5 p-xl-3">
              <label>Test</label>
            </div>
            <div class="p-col-12 p-lg-7 p-xl-8">
              <input type="text" pInputText />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'1'">
      1
    </div>
    <div *ngSwitchCase="'2'">
      2
    </div>
    <div *ngSwitchCase="'3'">
      3
    </div>
    <div *ngSwitchCase="'4'">
      4
    </div>
  </ng-container>
</alanda-phase-tab>
