<p-fieldset #fs legend="Project Properties" [toggleable]="true">
    <div class="p-grid">
        <div class="p-col-12 p-md-6 p-lg-9">
            <p-card [style]="{'height':'100%'}">
                <datepicker-variable [project]="project" key="startDate" label="Vacation Start"></datepicker-variable>
                <datepicker-variable [project]="project" key="endDate" label="Vacation End"></datepicker-variable>
            </p-card>
        </div>
        <div class="p-col-12 p-md-6 p-lg-3">
            <ng-container *ngIf="!fs.collapsed">
                <p-card [style]="{'height':'100%'}">
                    <select-role type="group" displayName="Vacation Approver" [project]="project" roleName="vacation-approver"></select-role>
                    <select-role type="user" displayName="Substitute" [project]="project" grouping="true" roleName="vacation-requestor"></select-role> 
                </p-card>
            </ng-container>
        </div>
    </div>
</p-fieldset>
