::ng-deep .ui-menubar {
  background: #007ad9 !important;
  border-radius: 0 !important;
  width: 100%;

  /* position: fixed; */
  z-index: 99999999;
}

/* Style invalid and touched PrimeNG input components */
::ng-deep .ng-touched.ng-invalid:not(form) > div {
  border: 1px solid red;
}

::ng-deep p-calendar.ng-invalid.ng-touched input {
  border: 1px solid red;
}

::ng-deep p-autocomplete .ng-touched.ng-invalid span {
  border: 1px solid red;
}

.subMenu {
  background-color: #c3def8;
  color: black;
  font-size: 11px;
  margin-top: 5px;
  padding: 0 25px;
  width: 100%;
}
